<!-------- PIE DE PAGINA -------->
<footer class="Sfooter">
    <div>
        <a href="/"><img src="/images/logo.png" width="150px"></a>
    </div>
    <div class="Smapa">
        <h3>MAPA DEL SITIO</h3>
        <a href="/">Instrucciones</a>
        <a href="/users/crearGrupos"> Inscribe tu grupo</a>
        <a href="/users/formulario">Inscríbete</a>
        <a href="/users/grupos">Listado de grupos</a>
    </div>
    <div>
       <h3>DATOS DE CONTACTO</h3>
       <p><strong>Ubicación: </strong>Medellín, Colombia</p>
       <p><strong>Email: </strong>atencion@lineadirecta.com</p>
       <p><strong>Teléfono: </strong> +57 6044485533</p>
    </div>
</footer> 
