<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inscripción Amigo Secreto Código Moda</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css">
</head>

<header>
    <!---LOGO-->
    <a href="/"><img src="/images/logo.png" width="150px"></a>
    <!-------- NAVBAR -------->
    <nav class="Snavbar">
        <a href="/"> Instrucciones</a>
        <a href="/users/crearGrupos"> Inscribe tu grupo</a>
        <a href="/users/formulario">Inscríbete</a>
        <a href="/users/grupos">Listado de grupos</a>
    </nav> 
</header>


    