<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Grupos Amigo Secreto Código Moda</title>
    <link rel="stylesheet" href="/css/crearGrupos.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<!-- MENU NAVEGACIÓN -->
<%- include("./partials/header.ejs")%>

<body>

<!-- MENU NAVEGACIÓN -->
<%- include("./partials/header.ejs")%>

<section class="Jbackground">

  <div class="box">

    <form action="/users/grupos" method="post">

      <!----CAJA DE FORMULARIO----->
        
      <div class="form">
      
      <h2>Regístra tu grupo en el Amigo Secreto 2022</h2>
        
        <div class="inputBox">
            <label for="nameGroup"><strong>¿Cuál es el nombre de tu grupo?</strong></label>
            <input type="text" id="nameGroup" name="nameGroup">  
        </div>

        <div class="inputBox">
          <label for="topicGroup"><strong>¿Cuál es el tema de tu grupo?</strong></label>
          <input type="text" id="topicGroup" name="topicGroup">
        </div>

        <div class="inputBox">
            <label for="fecha"><strong>¿Cuándo es la primera endulzada?</strong></label>
            <input type="date" name="fechaEndulzada1" data-label="fechaEndulzada1">
          </div>

          <div class="inputBox">
            <label for="msg"><strong>¿Cuál es el valor de la primera endulzada?</strong></label>
            <input type="text" name="valorEndulzada1" data-label="valorEndulzada1">
          </div>
  
          <div class="inputBox">
            <label for="fecha"><strong>¿Cuándo es la segunda endulzada?</strong></label>
            <input type="date" name="fechaEndulzada2" data-label="fechaEndulzada2">
          </div>

          <div class="inputBox">
            <label for="msg"><strong>¿Cuál es el valor de la segunda endulzada?</strong></label>
            <input type="text" name="valorEndulzada2" data-label="valorEndulzada2">
          </div>
  
          <div class="inputBox">
            <label><strong>¿Cuándo es el descubrimiento?</strong></label>
            <input type="date" name="fechaDescubrimiento" data-label="fechaDescubrimiento"> 
          </div>

          <div class="inputBox">
            <label for="msg"><strong>¿Cuál es el valor del regalo del descubrimiento?</strong></label>
            <input type="text" name="valorDescubrimiento" data-label="valorDescubrimiento">
          </div>
          
          <div class="inputBox">
            <label for="msg"><strong>¿Dónde será realizado el descubrimiento?</strong></label>
            <input type="text" name="lugarDescubrimiento" data-label="lugarDescubrimiento">
          </div>

          <input type="submit" value="Registrar grupo"></input>  
          <a class="registered" href="/user/login">Ya tengo un grupo</a> 
      </div>
    </form>
  </div>  
</section>

<!--- FOOTER: PIE DE PÁGINA --->
<%- include("./partials/footer.ejs")%>

</body>
</html>

