<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form>
    
    <h2>Regístra tu grupo en el Amigo Secreto 2022</h2>

    <form action="/formularioGroup" method="post" id="groupRegisterForm"></form>

    <li>
        <label for="NameGroup">Nombre del grupo:</label>
        <textarea id="msg" name="nameGroup"></textarea>
      
    </li>

    <li>
        <label for="topicGroup">Tema del Amigo Secreto:</label>
        <input type="text" id="topicGroup" name="topicGroup">
    </li>

    <li>
        <label for="fecha">Fecha Endulzada 1:</label>
        <input type="date" name="fechaEndulzada1" data-label="fechaEndulzada1">
      </li><br>
      <li>
        <label for="msg">Valor Endulzada 1:</label>
        <input type="text" name="valorEndulzada1" data-label="valorEndulzada1">
      </li><br>

      <li>
        <label for="fecha">Fecha Endulzada 2:</label>
        <input type="date" name="fechaEndulzada2" data-label="fechaEndulzada2">
      </li><br>
      <li>
        <label for="msg">Valor Endulzada 2:</label>
        <input type="text" name="valorEndulzada2" data-label="valorEndulzada2">
      </li><br>
     <li>

      <li class="inputBox">
        <label>Descubrimiento</label>
        <input type="date" name="fechaDescubrimiento" data-label="fechaDescubrimiento">
        <i></i>  
      </li><br>
      <li>
        <label for="msg">Valor Descubrimiento:</label>
        <input type="text" name="valorDescubrimiento" data-label="valorDescubrimiento">
      </li><br>
      </div>

      <!--BOTONES REGISTRAR Y YA TENGO CUENTA-->
                  
      <button type="submit">Enviar Grupo</button>    
  
      <a class = "registered" href="/users/formulario">Ya tengo un grupo</a>

</form>

</body>
</html>