<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Inscripción Amigo Secreto Código Moda</title>
    <link rel="stylesheet" href="/css/formularioIncripcion.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
  

<body>

<!-- MENU NAVEGACIÓN -->
<%- include("./partials/header.ejs")%>

<section class="Jbackground">

  <div class="box">

    <form action="/users/formulario/" method="post" id="userRegisterForm">
      
      <!----CAJA DE FORMULARIO----->

      <div class="form">

        <h2>Regístrate en el Amigo Secreto 2022</h2>

       <div class="inputBox">
            <label for="name"><strong>¿Cuál es tu nombre?</strong></label>
            <input type="text" id="name" name="name">
       </div>

       <div class="inputBox">
            <label forr="email"><strong>¿Cuál es tu Email?</strong></label>
            <input type="email" name="email">
       </div>

       <div class="inputBox">
            <label for=""><strong>¿Cuál es tu rol dentro de este grupo?:</strong></label>
                <select name="rol">
                    <option disabled selected>Seleccionar rol</option>
                    <option class="a" value="admin">Administrador</option>
                    <option class="p" value="participante">Participante</option>
                </select>
       </div><br>
       
       <div class="inputBox">
            <label for=""><strong>¿Cuál es el nombre de tu grupo?</strong></label>
                <select class="group_id" data-label="group_id" name="group_id">
                    <option selected disabled>Seleciona tu grupo...</option> 
                      <% grupo.forEach(g => { %>  
                    <option value="<%= g.id %>"   ><%= g.nameGroup %></option>
                      <% }); %>

                </select><br>
       </div>

       <div class="inputBox">
            <label><strong>Gustos:</strong></label>
              <textarea  type="text" name="likes" data-label="likes"></textarea>
       </div>
  
       <div class="inputBox">
            <label><strong>Disgustos:</strong></label>
              <textarea  type="text" name="dislikes" data-label="dislikes"></textarea>                        
       </div>
  
       <div class="inputBox">
            <label><strong>Alergias:</strong></label>
              <textarea  type="text" name="allergies" data-label="allergies"></textarea>                        
       </div>
  

        <!--BOTONES REGISTRAR Y YA TENGO CUENTA-->
                  
        <input type="submit" value="Registrarse"></input>     

        <a class="registered" href="/user/login">Ya tengo una cuenta</a>

      </div> 

    </form>

  </div>
  
</section>

<!--- FOOTER: PIE DE PÁGINA --->
<%- include("./partials/footer.ejs")%>

</body>

</html>