<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigo Secreto Código Moda</title>
</head>
<!-- MENU NAVEGACIÓN -->
<%- include("./partials/header.ejs")%>

    <body>
        <h1>Crea tu grupo:</h1>
        <form action="/users/grupos" method="post">
        <li>
            <label for="nameGroup">Nombre del grupo:</label>
            <input type="text" id="nameGroup" name="nameGroup">
          
          </li><br>
        <li>
          <label for="topicGroup">Tema del Amigo Secreto:</label>
          <input type="text" id="topicGroup" name="topicGroup">
        </li><br>

        <li>
            <label for="fecha">Fecha Endulzada 1:</label>
            <input type="date" name="fechaEndulzada1" data-label="fechaEndulzada1">
          </li><br>
          <li>
            <label for="msg">Valor Endulzada 1:</label>
            <input type="text" name="valorEndulzada1" data-label="valorEndulzada1">
          </li><br>
  
          <li>
            <label for="fecha">Fecha Endulzada 2:</label>
            <input type="date" name="fechaEndulzada2" data-label="fechaEndulzada2">
          </li><br>
          <li>
            <label for="msg">Valor Endulzada 2:</label>
            <input type="text" name="valorEndulzada2" data-label="valorEndulzada2">
          </li><br>
  
          <li class="inputBox">
            <label>Descubrimiento</label>
            <input type="date" name="fechaDescubrimiento" data-label="fechaDescubrimiento">
            <i></i>  
          </li><br>
          <li>
            <label for="msg">Valor Descubrimiento:</label>
            <input type="text" name="valorDescubrimiento" data-label="valorDescubrimiento">
          </li><br>
          </div>  <br>
                <button type="submit">Crear grupo</button>    
                </form>
    </body>
</html>

<!--if (user.rol == Administrador) {
    admin display:block
} else {
       admin display:none
}-->

if (user.rol == Administrador) {
    admin display:block
} else {
       admin display:none
}