<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigo Secreto Código Moda</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>




<body>

<!-- MENU NAVEGACIÓN -->
<%- include("./partials/header.ejs")%>

<!--SLIDE-->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/slide-4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/slide-2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/slide-3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    
</div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

<br class="cajaPpal">

<h1 class="text-center fs-2 fw-bold">Bienvenidos a nuestro Amigo Secreto Linea Directa 2022</h1>
    
    <br class="cajaSeg">

    <h3 class="text-center fs-3 fw-bold">Instrucciones del juego</h3>
    <br></br>
    
        <div class="instrucciones">
            <div><strong class="numerales"> Reunete con tus compañeros:</strong> ¿Con quién jugaremos este año? Reúnete con veinte o treinta compañeros de tu área que quieran jugar Amigo Secreto y escojan un líder quien será el responsable del registro inicial del grupo en la aplicación.</div>
            <br></br>
            <div><strong class="numerales"> Elijan un tema:</strong> ¿Qué regalaremos este año? Todos pueden ponerse de acuerdo en una temática: Libros, música, ropa, comida, etc. Esta decisión también dependerá mucho del presupuesto promedio del grupo, así que es mejor dejar el tema claro antes de empezar a jugar.</div>
            <br></br>
            <div><strong class="numerales"> Endulzadas:</strong> Debemos saber que debe haber dos endulzadas a lo largo del juego, es preciso que entre todos decidan el valor de las endulzadas y la fecha en que serán entregadas las endulzadas, recuerda no dejarte descubrir por tu amigo secreto por no ser lo suficientemente discreto a la hora de entregar la endulzada.</div>
            <br></br>
            <div><strong class="numerales"> Regalo:</strong> Como en todos los amigos secretos debemos entregar un regalo a esa persona que nos correspondió, es por este motivo que debemos decidir entre todos que haremos el día del descubrimiento, el lugar donde se realizara y valor promedio del obsequio.</div>
            <br></br>
        </div>

    </div>

    <div>

    <h3 class="text-center fs-3 fw-bold">Instrucciones de la Aplicación</h3>
    <br></br>    
    <div class="instrucciones"><p>Es la primera vez que implementamos la tecnología para ayudarnos a jugar amigo secreto en Línea Directa, es por este motivo que en esta sección te enseñaremos como usar la aplicación para que todo salga perfecto y podamos fortalecer los lazos de amistad en las diferentes áreas de la compañía.</p></div>
   
        <div class="instrucciones">
            <div><strong class="numerales"> 1. Elegir un lider:</strong> Esta persona estará encargada de realizar el primer registro en la aplicación, tendrá que tener claro el nombre de nuestro grupo para diferenciarnos de los demás (puede que la empresa tenga preparados regalos sorpresa para los nombres más divertidos), la fecha y el monto de dinero que costaran las dos endulzadas y la fecha, lugar y monto de los regalos del descubrimiento.</div>
            <br></br> 
            <div><strong class="numerales"> 2. Registrar el grupo:</strong> El lider debe realizar el registro del grupo, solo debe ser registrado una vez. Despues de registrar el grupo debe registrarse como participante y en el rol elegir la opción Lider</div>
            <br></br> 
            <div><strong class="numerales"> 3. Registrarse como participante:</strong> Todos los demás participantes deberán tener claro el nombre del grupo para poder registrarse dentro de la aplicación, procura escoger el nombre adecuado, porque a pesar de que sería sumamente divertido entrar en otro grupo, esto podría generar desorden dentro de la fiesta de otros compañeros y no poder disfrutar de la compañía de los nuestros.</div>
            <br></br> 
            <div><strong class="numerales"> 4. Realizar el Sorteo:</strong> Una vez el líder del grupo sepa que todos los participantes están registrados, cada uno de los participantes debera ingresar al aplicativo y seleccionar la opción "Listado de grupos" en el menú principal, una vez alli debe seleccionar su grupo y buscar su nombre en la lista desplegable y dar click en "¿Quién es mi amigo secreto?"</div>
            <br></br> 
            <div><strong class="numerales"> 5. Guarda tu amigo:</strong> Recuerda que debes guardar el nombre de tu Amigo Secreto, sus gustos, disgustos y alergias para que el día del descubrimiento todo salga bien!</div>
            <br></br>
            <br></br>

        </div>

    </div>
    <%- include("./partials/footer.ejs")%>

</body>
</html>