<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigo Secreto Código Moda</title>
</head>
<!-- MENU NAVEGACIÓN -->
<%- include("./partials/header.ejs")%>

<body>

    
<h1>Bienvenidos a nuestro Amigo Secreto Linea Directa 2022</h1>
    
    <h3>Instrucciones del juego</h3>
    
    <lu>
        
        <li><strong>1. Reunirnos con nuestros compañeros:</strong>¿Con quién jugaremos este año? Reúnete con veinte o treinta compañeros de tu área que quieran jugar Amigo Secreto y escojan un líder quien será el responsable del registro inicial del grupo en la aplicación.</li>
        <li><strong>2. Elegir un tema:</strong>¿Qué regalaremos este año? Todos pueden ponerse de acuerdo en una temática: Libros, música, ropa, comida, etc. Esta decisión también dependerá mucho del presupuesto promedio del grupo, así que es mejor dejar el tema claro antes de empezar a jugar.</li>
        <li><strong>3. Endulzadas:</strong>Debemos saber que debe haber dos endulzadas a lo largo del juego, es preciso que entre todos decidan el valor de las endulzadas y la fecha en que serán entregadas las endulzadas, recuerda no dejarte descubrir por tu amigo secreto por no ser lo suficientemente discreto a la hora de entregar la endulzada.</li>
        <li><strong>4. Regalo:</strong>Como en todos los amigos secretos debemos entregar un regalo a esa persona que nos correspondió, es por este motivo que debemos decidir entre todos que haremos el día del descubrimiento, el lugar donde se realizara y valor promedio del obsequio.</li>
        
    </lu>

    <h3>Instrucciones de la Aplicación</h3>

    <p>Es la primera vez que implementamos la tecnología para ayudarnos a jugar amigo secreto en Línea Directa, es por este motivo que en esta sección te enseñaremos como usar la aplicación para que todo salga perfecto y podamos fortalecer los lazos de amistad en las diferentes áreas de la compañía.</p>

    <lu>

        <li><strong>1. Elegir un lider:</strong>Esta persona estará encargada de realizar el primer registro en la aplicación, tendrá que tener claro el nombre de nuestro grupo para diferenciarnos de los demás (puede que la empresa tenga preparados regalos sorpresa para los nombres más divertidos), la fecha y el monto de dinero que costaran las dos endulzadas y la fecha, lugar y monto de los regalos del descubrimiento.</li>
        <li><strong>1. Registrar el grupo:</strong>El lider debe realizar el registro del grupo, solo debe ser registrado una vez. Despues de registrar el grupo debe registrarse como participante y en el rol elegir la opción Lider</li>
        <li><strong>3. Registrarse como participante:</strong>Todos los demás participantes deberán tener claro el nombre del grupo para poder registrarse dentro de la aplicación, procura escoger el nombre adecuado, porque a pesar de que sería sumamente divertido entrar en otro grupo, esto podría generar desorden dentro de la fiesta de otros compañeros y no poder disfrutar de la compañía de los nuestros.</li>
        <li><strong>4. Realizar el Sorteo:</strong>Una vez el líder del grupo sepa que todos los participantes están registrados, cada uno de los participantes debera ingresar al aplicativo y seleccionar la opción "Entrar al listado de grupos!", una vez alli debe seleccionar su grupo y buscar su nombre en la lista desplegable y dar click en "¿Quién es mi amigo secreto?"</li>
        <li><strong>5. Guarda tu amigo:</strong>Recuerda que debes guardar el nombre de tu Amigo Secreto, sus gustos, disgustos y alergias para que el día del descubrimiento todo salga bien!</li>

    </lu>
    <div class="button">
        <div class="buttonRegister">
            <a href="/users/formulario">Formulario de Inscripción</a>
            <a href="/users/crearGrupos">Formulario de Grupos</a>
            <a href="/users/grupos">Entrar al listado de grupos!</a>
        </div>      
    </div>
</body>
</html>